<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page.title %></title>
  <meta name="robots" content="noindex, nofollow">
  <meta property="og:title" content="<%= page.title %>">
  <% if (page.description) { %>
  <meta name="description" content="<%= page.description %>">
  <meta property="og:description" content="<%= page.description %>">
  <% } %>
  <meta property="og:type" content="website">
  <link rel="stylesheet" href="/public/style.css">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>&#x1F527;</text></svg>">
</head>
<body class="<%= page.bodyClass %>">
  <main class="mp-canvas">
    <%- page.html %>
  </main>
</body>
</html>
